---
import Layout from "../layouts/Product.astro";
import Nav from "../components/Nav.astro";
import Feature from "../layouts/FeatureCard.astro";
import products from "../utils/products"
---

<Layout
   title=`${products.desktop.name} - SIMS SW`
   name={products.desktop.name}
   url={products.desktop.url}
   desc={products.desktop.desc}
   img={products.desktop.imgMockup}
   simsEdition={products.desktop.simsEdition}
   color={products.desktop.color}
>
   <p slot="texts">
      Produkt SIMS Desktop je aplikace vyvíjena v technologii Windows Presentation Foundation (WPF), která je součásti Microsoft .NET frameworku pro operační systémy Windows všech verzí. Je to intuitivní aplikace vyvíjena na míru potřebám našich zákazníků (bezpečnostních agentur). Propracovaný systém disponuje množstvím funkcionalit, které usnadňují práci operátorům, technikům a vedoucím pracovníkům.
   </p>

   <p slot="texts">
      Naše služby s ovladači přijímají data, která v aplikaci SIMS zobrazujeme v reálném čase formou srozumitelných zpráv. Přijaté zprávy se třídí dle jejich významu na úrovni databáze, stejně jako automatické ukončování limitů a dalších automatik, které napomáhají operátorům k rychlému odbavení alarmů. Díky tomu jediný operátor dokáže bez problému hlídat tisíce střežených objektů.
   </p>

   <p slot="texts">
      Náš systém je vyvíjen na základě podnětů našich zákazníků posbíraných po dobu více než třicetileté praxe. Našim zákazníkům se snažíme vyjít maximálně vstříc a společnou prací vymýšlíme nejlepší řešení.
   </p>

   <h2>Funkce</h2>

   <ul>
      <Feature
         title="Zavádění objektů"
         desc="Automatické vytvoření objektu z první příchozí zprávy"
         img="blocks"
         color="red"
      />
      <Feature
         title="Monitorované objekty"
         desc="EZS, PZS, komunikátory, SMS Modemy, Lokátory (Active Track, GT100, GT101, GT300) – zobrazení aktuální a historické polohy na mapě, Geo zóny, RFID kódy – obchůzky"
         img="radio"
         color="pink"
      />
      <Feature
         title="Správa"
         desc="Správa objektů, kontaktů, adres, uživatelů a jejich oprávnění"
         img="book-user"
         color="fuchsia"
      />
      <Feature
         title="Alarmy"
         desc="Alarmy (akce) tříděné dle významu, Obsluha alarmů, Vyřízené akce"
         img="bell-ring"
         color="deeppurple"
      />
      <Feature
         title="Rychlá obsluha alarmů"
         desc="Výběr z předem nadefinovaných prací, odeslání polohy objektu na telefon výjezdové hlídky"
         img="bell-dot"
         color="navy"
      />
      <Feature
         title="Odkazy na objektech"
         desc="Možnost si vytvořit vlastní tlačítka, která se zobrazí při alarmu s různými funkcemi – spouštění odkazů na popředí, na pozadí, odeslání předem nadefinovaných SMS, vytáčení hovorů, a to vše jedním stisknutím předem nastavených tlačítek"
         img="sparkles"
         color="blue"
      />
      <Feature
         title="Autotesty"
         desc="Periodické testy, nastavení intervalů a hlídání jejich přijetí – Časové limity, automatické ukončování časových limitů s nově příchozí zprávou/autotestem"
         img="list-todo"
         color="lightblue"
      />
      <Feature
         title="Číselné kódy"
         desc="Číselné kódy, Zobrazení popisu objektu při akci, zobrazení snímků z kamer"
         img="scan-eye"
         color="blue"
      />
      <Feature
         title="Vlastní události"
         desc="Možnost definovat vlastní příchozí události a popisy"
         img="siren"
         color="aqua"
      />
      <Feature
         title="Vlastní reakce na události"
         desc="Možnost nastavení, jak reagovat na veškeré příchozí události – automatické odesílání SMS, emailů, automatické vytvoření reakční události"
         img="wand"
         color="teal"
      />
      <Feature
         title="Hlídání otevírací doby"
         desc="Nepovolené otevření, absence zavřeno, vlastní události"
         img="clock-10"
         color="green"
      />
      <Feature
         title="Obnova události"
         desc="Automatické ukončení události, když přijde předem nadefinovaná událost – obnova"
         img="timer-reset"
         color="lightgreen"
      />
      <Feature
         title="Filtry"
         desc="Rychlé filtrování zpráv z objektů, historie zpráv, historie obsluh"
         img="filter"
         color="lime"
      />
      <Feature
         title="SMS, Emaily, Události SMS"
         desc="Možnost nastavit, jak reagovat na libovolnou příchozí SMS"
         img="message-circle-more"
         color="yellow"
      />
      <Feature
         title="Hovory"
         desc="Vytáčení hovorů, přijímání hovorů a zaznamenání jejich průběhu, rozpoznání volajícího a zobrazení jeho objektu před přijetím hovoru"
         img="phone-call"
         color="amber"
      />
      <Feature
         title="Plánovač"
         desc="Plánovač, Karta objektu, Výjezdové služby"
         img="calendar-range"
         color="orange"
      />
      <Feature
         title="Evidence výjezdové služby"
         desc=""
         img="car"
         color="deeporange"
      />
      <Feature
         title="Tisky sestav"
         desc="Periodické tisky sestav, výběr z předem nadefinovaných šablon, možnost vytvoření vlastních šablon s vlastním logem, formáty: doc, docx, pdf, html, export dat do csv"
         img="printer"
         color="red"
      />
      <Feature
         title="Skupiny objektů"
         desc="Členění objektů do skupin a přidělování skupin uživatelům, nastavení uživatelských přístupových práv"
         img="component"
         color="pink"
      />
      <Feature
         title="Správa formátů"
         desc="Správa přenosových formátů a událostí formátů, možnost definovat vlastní přenosové formáty"
         img="audio-lines"
         color="fuchsia"
      />
      <Feature
         title="Záloha"
         desc="Možnost automatické zálohy databáze na záložní úložiště s automatickou obnovou databáze"
         img="database-backup"
         color="deeppurple"
      />
      
   </ul>
</Layout>