---
import Layout from "../layouts/Product.astro";
import Nav from "../components/Nav.astro";

const name = "Eniterm";
const desc =
   "Účelem provozu tohoto produktu je nepřetržitý příjem dat ze zabezpečovacích zařízení monitorujících střežené objekty a zobrazení těchto dat zákazníkovi formou srozumitelných zpráv a alarmů za účelem co možná nejrychlejšího odbavení.";
const img = "mockup-mobile";
const simsEdition = false;
---

<Layout
   title=`${name} - SIMS SW`
   name={name}
   desc={desc}
   img={img}
   simsEdition={simsEdition}
>
   <p slot="texts">
      Účelem provozu tohoto produktu je provádět nepřetržitý příjem dat ze
      zabezpečovacích zařízení do datového úložiště Microsoft SQL serveru.
   </p>

   <p slot="texts">
      Ovladače se nastavují a instaluji z aplikace Eniterm formou služeb, které
      běží na pozadí operačního systému Windows.
   </p>

   <p slot="texts">
      Naše datové úložiště Microsoft SQL Server máme umístěné v Cloudovém
      serveru, který provozuje společnost <a
         href="https://www.master.cz/datacentrum/"
         target="_blank">Master Internet, s.r.o.</a
      > se sídlem Purkyňova 3030/35e, 612 00 Brno, Královo Pole. Zákazník má tak
      na výběr, zda chce mít svá data umístěna v našem datovém centru nebo na svém
      serveru.
   </p>

   <p slot="texts">
      Našim zákazníkům nabízíme také z našeho pohledu nejlepší variantu, a tou
      je kombinace našeho Cloudového serveru a automatické zálohy a obnovy dat
      na lokální server zákazníka. Takto má zákazník svá data přístupná ze dvou
      míst v reálném čase.
   </p>
</Layout>
