---
import Layout from "../layouts/Index.astro";
import Product from "../layouts/ProductCard.astro";
import products from "../utils/products";
import Feature from "../layouts/FeatureCard.astro";
const pattern = `url(\"${import.meta.env.BASE_URL}assets/img/comparison-pattern.jpg\")`;
const cloudPattern = `url(\"${import.meta.env.BASE_URL}assets/img/cloud-pattern.jpg\")`;
---

<Layout title="SIMS SW">
   <main>
      <!-- About-->

      <h2 id="about">O nás</h2>
      <about-texts>
         <p>
            <span>
               Jsme česká firma, která se od roku 1991 zabývá vývojem
               komunikačních služeb a informačních systémů pro monitorování
               elektronických bezpečnostních zařízení.
            </span>
         </p>
         <p>
            <span>
               Základem našeho software je nepřetržitý příjem dat ze střežených
               objektů. Naše produkty přijatá data vyhodnocují a zobrazují
               formou zpráv a alarmů v reálném čase.
            </span>
         </p>
      </about-texts>

      <!-- SIMS-->

      <h2 id="products">Produkty</h2>
      <products>
         <Product
            name={products.desktop.name}
            url={products.desktop.url}
            img={products.desktop.img}
            desc={products.desktop.desc}
            color={products.desktop.color}
         />
         <Product
            name={products.web.name}
            url={products.web.url}
            img={products.web.img}
            desc={products.web.desc}
            color={products.web.color}
         />
         <Product
            name={products.mobile.name}
            url={products.mobile.url}
            img={products.mobile.img}
            desc={products.mobile.desc}
            color={products.mobile.color}
         />
         <Product
            name={products.eniterm.name}
            url={products.eniterm.url}
            img={products.eniterm.img}
            desc={products.eniterm.desc}
            color={products.eniterm.color}
         />
      </products>

      <product-comparison>
         <!--p Porovnejte funkčnost všech edicí a zjistěte, která je pro vás ta pravá.-->
         <a href=`${import.meta.env.BASE_URL}comparison/`>Porovnat</a>
      </product-comparison>
      <cloud-vs-local>
         <h2>SIMS Cloud</h2>
         <ul>
            <Feature
               title="Náš server pro Vaše data"
               desc="Našim zákazníkům nabízíme možnost provozovat SIMS spřipojením na náš cloudový server (SIMSWEB.CZ) nebo lokálně na svém serveru. Stejně tak služby (produktu Eniterm) můžou být instalovány na našem komunikačním serveru (SIMSWEB.EU) nebo na serveru zákazníka."
               img="server"
               color="red"
            />
            <Feature
               title="Bezúdržbový chod"
               desc="Výhodou provozu SIMS na našem cloudovém serveru je, že zákazník si nemusí pořizovat vlastní server s licencí Microsoft SQL Server a nemusí se starat o správu a údržbu databáze. Na cloud serveru má zákazník také k dispozici webovou aplikaci (produkt SIMS Web)."
               img="tree-palm"
               color="orange"
            />
            <Feature
               title="Zálohujeme"
               desc="Ideální variantou je mít jeden server jako hlavní a druhý používat jako záložní a zprávy zapisovat na oba servery současně. V případě výpadku jednoho ze serverů není zákazník nějak omezen a pracuje nerušeně dál na druhém serveru."
               img="database-backup"
               color="amber"
            />
         </ul>
      </cloud-vs-local>

      <!-- Contact-->
      <contact-container>
         <h2 id="contact">Kontakt</h2>
         <h3>SW SIMS safety s.r.o</h3>
         <boxes>
            <box>
               <p><b>IČO</b><span>28648803</span></p>
            </box>
            <box>
               <p><b>Schránka</b><span>zw9x6cy</span></p>
            </box>
            <box>
               <p>
                  <b>Adresa</b>
                  <address>
                     <span>Na Výsluní 477</span><span>783 61 Hlubočky</span>
                  </address>
               </p>
            </box>
            <box>
               <p>
                  <b>E-mail</b><a href="mailto:info@sims.cz">info@sims.cz</a>
               </p>
            </box>
         </boxes>

         <people>
            <person>
               <h3>Vladimír Hrachovina</h3>
               <p>Jednatel</p>
               <p>
                  <b>Telefon</b><a href="tel:+420602748687"
                     >+420&nbsp;602&nbsp;748&nbsp;687</a
                  >
               </p>
               <p>
                  <b>E-mail</b><a href="mailto:hrachovina@sims.cz"
                     >hrachovina@sims.cz</a
                  >
               </p>
            </person>

            <person>
               <h3>Ing. Lukáš Plch</h3>
               <p>Jednatel</p>
               <p>
                  <b>Telefon</b><a href="tel:+420601521509"
                     >+420&nbsp;601&nbsp;152&nbsp;509</a
                  >
               </p>
               <p>
                  <b>E-mail</b><a href="mailto:hrachovina@sims.cz"
                     >plch@sims.cz</a
                  >
               </p>
            </person>

            <person>
               <h3>Jitka Plchová</h3>
               <p>Účetní</p>
               <p>
                  <b>Telefon</b><a href="tel:+420602563326"
                     >+420&nbsp;602&nbsp;256&nbsp;326</a
                  >
               </p>
               <p>
                  <b>E-mail</b><a href="mailto:plchova@sims.cz"
                     >plchova@sims.cz</a
                  >
               </p>
            </person>
         </people>
      </contact-container>
   </main>
</Layout>

<style lang="less" define:vars={{ pattern, cloudPattern }}>
   @import "../styles/homepage.less";
</style>
