---
import Layout from "../layouts/Index.astro";
import Product from "../layouts/ProductCard.astro";
import products from "../utils/products";
---

<Layout title="SIMS SW">
   <main>
      <!-- About-->

      <h2 id="about">O nás</h2>
      <about-texts>
         <p>
            <span>
               Jsme česká firma, která se od roku 1991 zabývá vývojem
               komunikačních služeb a informačních systémů pro monitorování
               elektronických bezpečnostních zařízení.
            </span>
         </p>
         <p>
            <span>
               Základem našeho software je nepřetržitý příjem dat ze
               zabezpečovacích zařízení monitorující střežené objekty. Pomocí
               produktů SIMS vyhodnocujeme a zobrazujeme tato data ve formě
               zpráv našim zákazníkům v reálném čase.
            </span>
         </p>
      </about-texts>

      <!-- SIMS-->

      <h2 id="products">Produkty</h2>
      <products>
         <Product
            name={products.desktop.name}
            url={products.desktop.url}
            img={products.desktop.img}
            desc={products.desktop.desc}
            color={products.desktop.color}
         />
         <Product
            name={products.web.name}
            url={products.web.url}
            img={products.web.img}
            desc={products.web.desc}
            color={products.web.color}
         />
         <Product
            name={products.mobile.name}
            url={products.mobile.url}
            img={products.mobile.img}
            desc={products.mobile.desc}
            color={products.mobile.color}
         />
         <Product
            name={products.eniterm.name}
            url={products.eniterm.url}
            img={products.eniterm.img}
            desc={products.eniterm.desc}
            color={products.eniterm.color}
         />
      </products>

      <product-comparison>
         <!--p Porovnejte funkčnost všech edicí a zjistěte, která je pro vás ta pravá.-->
         <a href="/comparison/">Porovnat</a>
      </product-comparison>
      <cloud-vs-local>
         <h4>Cloud vs lokální úložiště</h4>
         <p class="p-bg">
            Našim zákazníkům nabízíme možnost provozovat SIMS spřipojením na náš
            cloudový server (SIMSWEB.CZ) nebo lokálně na svém serveru. Stejně
            tak služby (produktu Eniterm) můžou být instalovány na našem
            komunikačním serveru (SIMSWEB.EU) nebo na serveru zákazníka.
         </p>
         <p>
            Výhodou provozu SIMS na našem cloudovém serveru je, že zákazník si
            nemusí pořizovat vlastní server s licencí Microsoft SQL Server a
            nemusí se starat o správu a údržbu databáze. Na cloud serveru má
            zákazník také k dispozici webovou aplikaci (produkt SIMS Web).
         </p>
         <p>
            Ideální variantou je mít jeden server jako hlavní a druhý používat
            jako záložní a zprávy zapisovat na oba servery současně. V případě
            výpadku jednoho ze serverů není zákazník nějak omezen a pracuje
            nerušeně dál na druhém serveru.
         </p>
      </cloud-vs-local>

      <!-- Contact-->
      <h2 id="contact">Kontakt</h2>
      <boxes>
         <box>
            <p>SW SIMS safety, s.r.o.</p>
         </box>
         <box>
            <p><b>IČO</b><span>28648803</span></p>
         </box>
         <box>
            <p><b>Schránka</b><span>zw9x6cy</span></p>
         </box>
         <box>
            <p>
               <b>Adresa</b>
               <address>
                  <span>Na Výsluní 477</span><span>783 61 Hlubočky</span>
               </address>
            </p>
         </box>
         <box>
            <p><b>E-mail</b><a href="mailto:info@sims.cz">info@sims.cz</a></p>
         </box>
         <box>
            <p>
               <b>Telefon</b><a href="tel:+420602748687"
                  >+420&nbsp;602&nbsp;748&nbsp;687</a
               >
            </p>
         </box>
      </boxes>
   </main>
</Layout>

<style lang="less">
   @import "../styles/homepage.less";
</style>
