---
import Layout from "../layouts/Product.astro";
import Feature from "../components/FeatureCard.astro";
import products from "../utils/products";
---

<Layout
   title=`${products.mobile.name} - SIMS SW`
   name={products.mobile.name}
   url={products.mobile.url}
   desc={products.mobile.desc}
   img={products.mobile.imgMockup}
   simsEdition={products.mobile.simsEdition}
   color={products.mobile.color}
>
   <p slot="texts">
      Účelem provozu této aplikace je nepřetržitý příjem dat ze zabezpečovacích zařízení monitorující střežené objekty a zobrazení těchto dat zákazníkovi formou srozumitelných zpráv a alarmů v reálném čase v jeho mobilním telefonu nebo tabletu. Nedílnou součástí je ovládání výstupů EBS a M2M komunikátorů
   </p>

   <p slot="texts">
      Pro mobilní zařízení se systémem Android je aplikace dostupná na Google play, pro mobilní zařízení s operačním systémem iOS bude aplikace dostupná na App Store.
   </p>

   <p slot="texts">
      Alarmové zprávy přicházejí prostřednictvím tzv. PUSH notifikací, které se zobrazí na obrazovce mobilního zařízení, zároveň se přehraje alarmový zvuk a klikem na notifikaci se otevře aplikace s detailem alarmové zprávy.
   </p>

   <h2>Funkce</h2>
   <ul>
      <Feature
         title="Zavádění objektů"
         desc="Automatické vytvoření objektu z první příchozí zprávy"
         img="blocks"
         color="red"
      />
      <Feature
         title="Monitorované objekty"
         desc="EZS, PZS, komunikátory, SMS Modemy, Lokátory (Active Track, GT100, GT101, GT300) – zobrazení aktuální a historické polohy na mapě, Geo zóny, RFID kódy – obchůzky"
         img="radio"
         color="fuchsia"
      />
      <Feature
         title="Správa uživatelů"
         desc="Přiřazení objektů uživatelům a jejich oprávnění"
         img="book-user"
         color="navy"
      />
      <Feature
         title="Správa objektů"
         desc="Úprava názvu objektu, názvu podsystému a adresy objektu"
         img="box"
         color="lightblue"
      />
      <Feature
         title="Alarmy"
         desc="Zobrazení zpráv a alarmů (akcí), zprávy z objektu, historie zpráv, zobrazení GPS pozice na mapě"
         img="bell-ring"
         color="teal"
      />
      <Feature
         title="Správa alarmů"
         desc="Obsluha akcí, vytvoření akce operátora, ověřování hesla objektu, odeslání pořízené fotografie nebo videa"
         img="bell-dot"
         color="lightgreen"
      />
      <Feature
         title="Správa kontaktů"
         desc="Správa kontaktů a číselných kódů"
         img="book-copy"
         color="yellow"
      />
      <Feature
         title="Správa I/O"
         desc="Správa vstupů a výstupů komunikátorů, ovládání výstupů (EBS a M2M komunikátorů"
         img="circle-arrow-out-up-right"
         color="orange"
      />
      <Feature
         title="Periodické testy, Časové limity"
         desc="Automatické ukončování s nově příchozím testem"
         img="list-todo"
         color="deeporange"
      />
   </ul>
</Layout>
