---
import Layout from "../layouts/Product.astro";
import Nav from "../components/Nav.astro";
import Feature from "../layouts/FeatureCard.astro";
import products from "../utils/products";
---

<Layout
   title=`${products.mobile.name} - SIMS SW`
   name={products.mobile.name}
   url={products.mobile.url}
   desc={products.mobile.desc}
   img={products.mobile.imgMockup}
   simsEdition={products.mobile.simsEdition}
   color={products.mobile.color}
>
   <p slot="texts">
      Účelem provozu této aplikace je nepřetržitý příjem dat ze zabezpečovacích
      zařízení monitorující střežené objekty a zobrazení těchto dat zákazníkovi
      formou srozumitelných zpráv a alarmů v reálném čase v jeho mobilním
      telefonu.
   </p>

   <p slot="texts">
      Pro mobilní zařízení se systémem Android je aplikace dostupná na službě
      Google play, pro mobilní zařízení s operačním systémem iOS je aplikace
      dostupná na App Store. Uživatelé, kteří používají M2M Easy 2 komunikátory,
      mohou ovládat jeho výstupy, na které mohou mít připojené například
      bezpečnostní ústředny, brány, vrata, osvětlení, zavlažování, rolety atd.
   </p>

   <p slot="texts">
      Alarmové zprávy přicházejí prostřednictvím tzv. PUSH notifikací, které se
      zobrazí na obrazovce mobilního zařízení a klikem na ně se otevře aplikace
      s detailem alarmové zprávy.
   </p>

   <h2>Funkce</h2>
   <ul>
      <Feature
         title="Zavedení objektů"
         desc="Automatické vytvoření objektu z první příchozí zprávy"
         img="blocks"
         color="red"
      />
      <Feature
         title="Monitorované objekty"
         desc="EZS, PZS, komunikátory, Lokátory (Tracker, GT100, GT101)"
         img="radio"
         color="pink"
      />
      <Feature
         title="Správa"
         desc="Přiřazení objektů uživatelům a jejich oprávnění"
         img="book-user"
         color="fuchsia"
      />
      <Feature
         title="Alarmy"
         desc="Zobrazení zpráv a alarmů (akcí), zprávy z objektu, historie zpráv"
         img="bell-ring"
         color="deeppurple"
      />
      <Feature
         title="Číselné kódy"
         desc="Číselné kódy, Zobrazení popisu objektu při akci, zobrazení snímků z kamer"
         img="scan-eye"
         color="blue"
      />
      <Feature
         title="Výstupy"
         desc="Správa a ovládání výstupů a zobrazení vstupů (M2M Easy komunikátorů)"
         img="circle-arrow-out-up-right"
         color="aqua"
      />
      <Feature
         title="Periodické testy, Časové limity"
         desc="Automatické ukončování s nově příchozím testem"
         img="timer-reset"
         color="navy"
      />
   </ul>
</Layout>
