---
import Layout from "../layouts/Product.astro";
import Nav from "../components/Nav.astro";
import Feature from "../layouts/FeatureCard.astro";

import products from "../utils/products";
---

<Layout
   title=`${products.web.name} - SIMS SW`
   name={products.web.name}
   url={products.web.url}
   desc={products.web.desc}
   img={products.web.imgMockup}
   simsEdition={products.web.simsEdition}
   color={products.web.color}
>
   <p slot="texts">
      Jednoduchá webová aplikace vytvořena pro monitoring střežených objektů. Nepřetržitý příjem dat zobrazen formou srozumitelných zpráv a alarmů za účelem co nejrychlejšího odbavení. Ideální pro koncové zákazníky, kteří chtějí mít přehled o svém střeženém objektu.
   </p>

   <p slot="texts">
      Aplikace je vyvíjena v technologii Microsoft ASP.NET a běží ve všech podporovaných verzí webových prohlížečů Edge, Chrome, Firefox, Safari a další.
   </p>

   <h2>Funkce</h2>

   <ul>
      <Feature
         title="Zavádění objektů"
         desc="Automatické vytvoření objektu z první příchozí zprávy"
         img="blocks"
         color="red"
      />
      <Feature
         title="Monitorované objekty"
         desc="EZS, PZS, komunikátory, SMS Modemy, Lokátory (Active Track, GT100, GT101, GT300) – zobrazení aktuální a historické polohy na mapě, Geo zóny, RFID kódy – obchůzky"
         img="radio"
         color="fuchsia"
      />
      <Feature
         title="Správa"
         desc="Správa objektů, kontaktů, adres, uživatelů a jejich oprávnění"
         img="book-user"
         color="blue"
      />
      <Feature
         title="Alarmy"
         desc="Alarmy (akce) tříděné dle významu, Obsluha alarmů, Vyřízené akce"
         img="bell-ring"
         color="green"
      />
      <Feature
         title="Časové limity"
         desc="Automatické ukončování"
         img="timer-reset"
         color="yellow"
      />
      <Feature
         title="Zprávy"
         desc="Zprávy, Zprávy z objektu, historie zpráv"
         img="triangle-alert"
         color="orange"
      />
   </ul>
</Layout>
