---
interface Props {
   title: string;
   desc: string;
   img: string;
   color: string;
}

const { title, desc, img, color } = Astro.props;
import { Image } from "astro:assets";
const bgUrl = `url(\"../assets/img/${color}.svg\")`;
const varBgCard = `var(--surface-${color}-minimal)`;
const varBg = `var(--surface-${color}-subtle)`;
const varColor = `var(--text-primary-on-surface-${color}-strong)`;
const varIconColor = `var(--text-${color})`;
const varIconBg = `var(--surface-${color}-minimal)`;

const { default: svgCode } = await import(`../assets/lucide/${img}.svg?raw`)

---

<li>
   <!-- <Image src={import(`../assets/img/${img}.svg`)} alt=`${img}` /> -->
   <icon-wrapper><Fragment set:html={svgCode} /></icon-wrapper>
   <h3>{title}</h3>
   <p>{desc}</p>
</li>

<style define:vars={{ varBg, varColor, varIconColor, varIconBg, varBgCard }} lang="less">
   li {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-auto-rows: min-content;
      align-items: start;
      //color: var(--varColor);
      padding: var(--base-3);
      background-color: var(--surface-control);
      border-radius: var(--radius-strong);
      border: 1px solid var(--border-shiny);
      box-shadow: var(--elevation);
      gap: .5rem 1rem;
   }

   h3 {
      margin: 0;
   }

   p {
      margin: 0;
      color: var(--text-secondary);
      line-height: var(--line-height-text);
   }

   icon-wrapper {
      grid-row: span 2;
      display: flex;
      padding: var(--base);
      background-color: var(--varIconBg);
      border: 2px solid var(--varBg);
      border-radius: var(--radius-strong);
   }

</style>
