---
interface Props {
   name: string;
   url: string;
   desc: string;
   img: string;
   color: string;
}

const { name, url, desc, img, color } = Astro.props;
import "../styles/product-card.less";
import { Image } from "astro:assets";
const bgUrl = `url(\"../assets/img/${img}.svg\")`;
const productCardBg = `var(--surface-${color}-contrast)`;
const productCardBgHover = `var(--surface-${color}-contrast-hover)`;
const productCardColor = `var(--text-primary-on-surface-${color}-contrast)`;
const pattern = `url(\"../assets/img/pattern-${url}.png\")`;
---

<product>
   <!-- <Image
      src={import(`../assets/img/${img}.svg`)}
      alt=`Ilustrace znázorňující produkt ${name}`
   /> -->
   <h3><a href=`/${url}`>{name}</a></h3>
   <p>{desc}</p>
   <a href=`/${url}`></a>
</product>


<style define:vars={{ bgUrl, productCardBg, productCardBgHover, productCardColor, pattern }}>
</style>