---
interface Props {
   title: string;
   name: string;
   url: string;
   desc: string;
   img: string;
   simsEdition: boolean;
   color: string;
}

const { title, name, url, desc, img, simsEdition, color } = Astro.props;
import "../styles/spectro-theme.css";
import "../styles/index.less";
import "../styles/product.less";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import Feature from "../layouts/FeatureCard.astro";

const textGradient = `var(--surface-${color}-minimal)`;
const headingColor = `var(--text-primary-on-surface-${color}-contrast)`;
const headerColor = `var(--text-primary-on-surface-${color}-contrast)`;
const headerBg = `var(--surface-${color}-contrast)`;
const pattern = `url(\"../assets/img/hero-pattern-${url}.png\")`;
---

<!doctype html>
<html lang="cs">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
   </head>
   <body>
      <Nav index={false} />
      <main>
         <header>
            <h1>{name}</h1>
            <p>{desc}</p>
            <Image
               src={import(`../assets/img/${img}.png`)}
               alt=`Ilustrace znázorňující produkt ${name}`
            />
         </header>

         <product-texts>
            <slot name="texts" />
         </product-texts>


         <slot />

         {
            simsEdition && (
               <a href="/comparison/">Porovnat s ostatními edicemi SIMS</a>
            )
         }
      </main>
      <Footer />
      <!-- <script src="../scripts/DetectSystemTheme.js"></script> -->
   </body>
</html>

<style define:vars={{ textGradient, headingColor, headerColor, headerBg, pattern }}>
</style>
